@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #eaedf6;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 13px 0px 6px;
}
.wrapper .card-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 25px 0px 5px 0;
}
.wrapper .right-menu {
  height: 100%;
  padding: 10px;
  margin: 5px;
}
.wrapper .right-menu .search-box {
  width: 330px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  border: transparent;
  border-radius: 10px;
  background: white;
}
.wrapper .right-menu .search-box input[type=text] {
  height: 45px;
  padding: 0 0 0 6px;
  border: 2px solid #eaedf6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
.wrapper .right-menu .categories-wrapper {
  width: 330px;
  margin-top: 25px;
  padding: 20px 0px 20px 35px;
  border-radius: 10px;
  background-color: white;
}
.wrapper .right-menu .categories-wrapper h3 {
  text-transform: uppercase;
}
.wrapper .right-menu .categories-wrapper hr {
  margin-left: -33px;
}
.wrapper .right-menu .categories-wrapper .category {
  padding-top: 15px;
}

@media only screen and (min-width: 1100px) {
  .card-container div:nth-child(2) {
    margin-left: 45px;
  }

  .card-container div:nth-child(3) {
    margin-left: 45px;
  }

  .card-container div:nth-child(5) {
    margin-left: 45px;
  }

  .card-container div:nth-child(6) {
    margin-left: 45px;
  }

  .card-container div:nth-child(8) {
    margin-left: 45px;
  }

  .card-container div:nth-child(9) {
    margin-left: 45px;
  }

  .right-menu .category,
.prices {
    padding: 25px 0px 10px 0;
  }
}
.right-menu .prices * {
  margin-top: 8px;
}
.right-menu .prices p {
  color: #9399b1;
}
.right-menu .prices input[type=radio]:checked {
  border-color: red;
}

@media only screen and (max-width: 768px) {
  .right-menu,
.import {
    display: none;
  }

  .card-container {
    justify-content: center;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 28px 20px 20px;
}
nav .heading a {
  text-decoration: none;
  color: #1c124e;
}
nav .heading span {
  padding: 10px 0;
  color: #9399b1;
}

.card {
  max-width: 275px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card img {
  max-height: 380px;
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card p {
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}
.card .price {
  color: grey;
}

button {
  cursor: pointer;
}

nav button {
  border: transparent;
  border-radius: 5px;
  padding: 10px;
}
nav .import, nav .filter {
  margin: 0 6px;
  background: white;
}
nav .download-report {
  margin: 0 6px;
  border: 1px solid black;
  color: white;
  background-color: #625bc5;
}
nav i {
  padding: 0 5px;
  margin-right: 5px;
}

.right-menu .search-box button {
  width: 70px;
  height: 45px;
  color: white;
  border: 2px solid #eaedf6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background: #625bc5;
}

.apply-filter {
  width: 234px;
  height: 45px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background: #625bc5;
}

.filter {
  display: none;
}

@media only screen and (max-width: 768px) {
  .filter {
    display: inline;
  }
}
.product-details .add-to-cart,
.product-details .buy-now {
  width: 150px;
  height: 40px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.product-details .add-to-cart {
  background-color: #645caf;
}
.product-details .buy-now {
  background-color: #f0358b;
}

select {
  display: block;
  width: 232px;
  height: 45px;
  padding: 10px;
  margin-top: 10px;
  color: #9399b1;
  border: 2px solid #9399b1;
  border-radius: 5px;
  appearance: none;
  background-color: transparent;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

.right-menu .prices .input-wrapper {
  display: flex;
}
.right-menu .prices .input-wrapper input[type=number] {
  width: 130px;
  padding: 8px;
  margin: 0 5px;
  margin-bottom: 12px;
  border-radius: 5px;
}

.column-reverse {
  flex-direction: column-reverse;
}
@media only screen and (min-width: 768px) {
  .column-reverse {
    flex-direction: row;
  }
}

.row {
  flex-direction: row;
}

.show {
  display: block;
  margin: 0 auto !important;
}

.hide {
  display: none;
}

.product-details {
  display: flex;
  background-color: white;
  margin: 20px 28px 20px 20px;
  border-radius: 10px;
}
.product-details .details {
  width: 60%;
  padding: 20px;
  line-height: 2;
}
.product-details .details select {
  display: inline-block;
  width: 140px;
  height: 55px;
  appearance: auto;
  background-image: none;
}
.product-details .details * {
  padding: 8px;
}
.product-details .images {
  width: 50%;
  padding: 20px;
}

.images {
  display: flex;
}
.images .image-thumbnails {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.images .image-thumbnails img {
  width: 90px;
  height: 90px;
  margin-top: 12px;
}
.images .large-image-wrapper {
  width: 100%;
}
.images .large-image-wrapper .large-image {
  max-width: 400px;
  width: 100%;
  height: 400px;
}
.images .large-image-wrapper .buttons-wrapper {
  padding: 20px;
}
.images .large-image-wrapper i {
  padding: 5px;
}