.right-menu {
  & .prices {
    & .input-wrapper {
      display: flex;
      & input[type="number"] {
        width: 130px;
        padding: 8px;
        margin: 0 5px;
        margin-bottom: 12px;
        border-radius: 5px;
      }
    }
  }
}
