nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px 20px 20px;
  & .heading {
    & a {
      text-decoration: none;
      color: $heading-color;
    }
    & span {
      padding: 10px 0;
      color: $sub-heading-color;
    }
  }
}
