.column-reverse {
  flex-direction: column-reverse;
  @media only screen and(min-width:768px) {
    & {
      flex-direction: row;
    }
  }
}
.row {
  flex-direction: row;
}
.show {
  display: block;
  margin: 0 auto !important;
}
.hide {
  display: none;
}
