.product-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 28px 20px 20px;
  border-radius: 10px;
  & .details-wrapper {
    display: flex;
  }
  & .details {
    width: 60%;
    padding: 20px;
    line-height: 2;
    & select {
      display: inline-block;
      width: 140px;
      height: 55px;
      appearance: auto;
      background-image: none;
    }
    & * {
      padding: 8px;
    }
  }
  & .images {
    width: 50%;
    padding: 20px;
  }
  & .specifications {
    padding: 20px;

    & table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #dddddd;

      tr,
      th,
      td {
        padding: 10px;
        text-align: left;
      }
    }
  }
}

.images {
  display: flex;
  & .image-thumbnails {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    & img {
      width: 90px;
      height: 90px;
      margin-top: 12px;
    }
  }
  & .large-image-wrapper {
    width: 100%;
    & .large-image {
      max-width: 400px;
      width: 100%;
      height: 400px;
    }
    & .buttons-wrapper {
      padding: 20px;
    }
    & i {
      padding: 5px;
    }
  }
}

// Media queries
@media only screen and(max-width:970px) {
  .details-wrapper {
    flex-direction: column;
    align-items: center;

    & .details,
    .images {
      width: auto;
    }
  }
}

@media only screen and(max-width:570px) {
  nav {
    padding: 5px;
  }
  .product-details {
    margin: 0;
  }
  .details-wrapper .images {
    width: 100%;
  }
  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    & * {
      margin: 5px auto;
    }
  }
}
